__pycache__/
.vscode/
.venv/
client_secrets.json
credentials.json
*.zip
cleaned_project/
chromedriver.exe
*.csv
.env
env.list
node_modules/
firebase_key.json
*.bak
.next/
out/
Thumbs.db
.DS_Store
*.pyc
.pytest_cache/
dist/
build/

coverage/
.env.*
*-debug-backup.txt
env-local-debug-backup.txt