Flask
gunicorn
flask-cors
openai
gspread
google-auth
google-auth-oauthlib
selenium
webdriver-manager
requests
python-dotenv
oauth2client
pydrive
beautifulsoup4
transformers
torch
pandas
streamlit
certifi
